footer{
    background-color: #e2e2e2;;
    padding: 3.5rem 0;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 35%;
}
footer h3{
    font-size: 1.1rem;
    color: #2d2e32;
}
.footer-icons .icons{
    gap: 20%;
}
@media (max-width: 900px) {
    footer{
        gap: 18%;
    }
}