@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu-motion.css');
*{
    text-decoration: none;
    list-style: none;
    color: black;
}
.h-header{
    background-color: #fff;
    height: auto;
    padding: 25px 40px 25px 0px;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    font-family: Mulish,sans-serif;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    z-index: 1;
    
}
.h-nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}
nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
nav ul a {
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    transition: all .23s;
}
.h-ul{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.checkbtn{
    display: none;
    font-size: 30px;
    cursor: pointer;
    float: right;
}
#check{
    display: none;
}
.mobile-header{
    display: none;
}

@media (max-width: 900px) {
    .h-header{
        width: 100%;
        justify-content: space-between;
    }
    .h-nav{
        width: 70%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
    .h-ul .home , .about-p , .projects , .contact{
        display: none;
    }
    .checkbtn {
        display: block;
    }
    .mobile-header{
        display: block;
    }    
    .h-nav .mobile-header {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #fff;
        left: -100%;
        text-align: center;
        top: 10px;
        transition: all .5s;
        z-index: 1;
        line-height: 30px;
        display: flex;
    }
    .h-ul2{
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .h-nav .mobile-header li {
        display: block;
    }
    
    .h-nav .mobile-header ul li label a {
        font-size: 20px;
    }
    
    #check:checked ~ .mobile-header {
        left: 0;
    }
    #check:checked ~ .mobile-header .h-ul2 li label span a {
        left: -100% !important;
    }    
    .checkbtn2{
        position: relative;
        left: 80%;
        top: 20px;
    }
    
}
    